.DailyMetric {
    width:312px;
    height:390px;
}

.Green {
    color: #4CEB63;
    top: 28%;
    text-align: center;
    position: absolute;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    width: 312px;
}
.Red {
    color: #FF233E;
    top: 55%;
    text-align: center;
    position: absolute;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    width: 312px;
}
.saved {
    top: 65%;
    text-align: center;
    position: absolute;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    width: 312px;
  }

.DaySave {
    top: 35%;
    text-align: center;
    position: absolute; 
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    width: 312px;
}

.circle {
    width: 10px;
    height: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: white;
    opacity: 0.3;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
}
  
.activeCircle {
    width: 10px;
    height: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #35B234;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
}
  