.DailyMetric {
    width:312px;
    height:390px;
}

.Bar {
    top: 15%;
    width: 90%;
    text-align: center;
    position: absolute;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
}

hr {
    top: 56%;
    width: 150px;
    background-color: #979797;
    height: 0.5px;
    border: 0;
    text-align: center;
    position: absolute;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
}

.Goal {
    color: #FFFF00;
}
.Green {
    color: #77C61F;
    top: 28%;
    text-align: center;
    position: absolute;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    width: 312px;
}
.Red {
    color: #FF233E;
    top: 55%;
    text-align: center;
    position: absolute;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    width: 312px;
}
.saved {
    top: 63%;
    text-align: center;
    position: absolute;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    width: 312px;
  }

.DaySave {
    top: 38%;
    text-align: center;
    position: absolute; 
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    width: 312px;
}

.circle {
    width: 10px;
    height: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: white;
    opacity: 0.3;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
}
  
.activeCircle {
    width: 10px;
    height: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #35B234;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
}
  